<md-card>
  	<md-card-title>
  		<md-card-title-text>
	      <span class="md-headline">Attendance Data for {{student.username}} in {{course.course}}</span>
	    </md-card-title-text>
	</md-card-title>
    <md-card-content>
	      <!-- <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div> -->
	 	<div id="attendanceCalendar" ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> 
    </md-card-content>
</md-card>

<md-card>
  	<md-card-title>
  		<md-card-title-text>
	      <span class="md-headline">Edit Attendance for {{student.username}}</span>
	    </md-card-title-text>
	</md-card-title>
    <md-card-content>
	      <div flex-gt-xs>
			<h4>Select a date:</h4>
			<md-datepicker ng-model="addDate" md-placeholder="Enter date"></md-datepicker>
			</div>
			<md-button ng-click="addAttendance(addDate)" class="md-raised md-primary">Add Attendance</md-button>
    </md-card-content>
</md-card>
<md-card ng-if="currentRecord != null">
  	<md-card-title>
  		<md-card-title-text>
	      <span class="md-headline">Edit Attendance Record</span>
	    </md-card-title-text>
	</md-card-title>
    <md-card-content>
	      <h4>Checked in at: {{currentRecord.start | date}}</h4>
	      <h4>Info: {{currentRecord.additionalInfo | json}}</h4>
    </md-card-content>
</md-card>
<md-card>
  	<md-card-title>
  		<md-card-title-text>
	      <span class="md-headline">Active Attendance Requests</span>
	    </md-card-title-text>
	</md-card-title>
    <md-card-content>
      	<div ng-repeat="request in requests">
      		<div flex-gt-xs>
				<span>Date: {{request.mistakeDate | date}}</span> <md-button ng-click="removeRequest(request)" class="md-raised md-primary">Remove Request</md-button> <md-button ng-click="acceptRequest(request)" class="md-raised md-primary">Accept Request</md-button>
			</div>
      	</div>
    </md-card-content>
    </md-card-content>
</md-card>