<!-- <div ng-repeat="course in courses" ng-click="selectClass(course)">
	<md-card>
	  	<md-card-title>
	  		<md-card-title-text>
		      <span class="md-headline">{{course.course}}</span>
		    </md-card-title-text>
		</md-card-title>
	    <md-card-content>
		      {{course.location}} | {{course.instructor}}
	    </md-card-content>
	</md-card>
</div> -->
{{course}}
<!-- 
<mwl-calendar
    view="calendarView"
    view-date="viewDate"
    events="events"
    view-title="calendarTitle"
    on-event-click="eventClicked(calendarEvent)"
    on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
    cell-is-open="true">
</mwl-calendar> -->

<md-card>
  	<md-card-title>
  		<md-card-title-text>
	      <span class="md-headline">Attendance Data for {{course.course}}</span>
	    </md-card-title-text>
	</md-card-title>
    <md-card-content>
	      <!-- <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div> -->
	 	<div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> 
    </md-card-content>
</md-card>

<md-button ng-click="checkin()" class="md-raised md-primary">Check In</md-button>