<md-card>
  	<md-card-title>
  		<md-card-title-text>
	      <span class="md-headline">CS 3510</span>
	    </md-card-title-text>
	</md-card-title>
    <md-card-content>
	      We got some content
    </md-card-content>
</md-card>

<md-card>
  	<md-card-title>
  		<md-card-title-text>
	      <span class="md-headline">CS 3510</span>
	    </md-card-title-text>
	</md-card-title>
    <md-card-content>
	      We got some content
    </md-card-content>
</md-card>

<md-card>
  	<md-card-title>
  		<md-card-title-text>
	      <span class="md-headline">CS 3510</span>
	    </md-card-title-text>
	</md-card-title>
    <md-card-content>
	      We got some content
    </md-card-content>
</md-card>