<md-card>
  	<md-card-title>
  		<md-card-title-text>
	      <span class="md-headline">Check-In to {{course.course}}</span>
	      <h5>Current Location: {{currentLocation}}</h5>
	    </md-card-title-text>
	</md-card-title>
    <md-card-content>
    	<md-button ng-click="changeLoc()" class="md-raised md-primary">Change Locations</md-button>
	   	<md-button ng-click="checkin()" class="md-raised md-primary">Check In</md-button>
    </md-card-content>
</md-card>

<md-card>
  	<md-card-title>
  		<md-card-title-text>
	      <span class="md-headline">Attendance Data for {{course.course}}</span>
	    </md-card-title-text>
	</md-card-title>
    <md-card-content>
	      <!-- <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div> -->
	 	<div id="attendanceCalendar" ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> 
    </md-card-content>
</md-card>
<md-card>
  	<md-card-title>
  		<md-card-title-text>
	      <span class="md-headline">Submit an Attendance Request</span>
	    </md-card-title-text>
	</md-card-title>
    <md-card-content>
      	<div flex-gt-xs>
			<h4>Select a date:</h4>
			<md-datepicker ng-model="addDate" md-placeholder="Enter date"></md-datepicker>
		</div>
			<md-button ng-click="attendanceRequest(addDate)" class="md-raised md-primary">Submit Request</md-button>
    </md-card-content>
    </md-card-content>
</md-card>
<md-card>
  	<md-card-title>
  		<md-card-title-text>
	      <span class="md-headline">Active Attendance Requests</span>
	    </md-card-title-text>
	</md-card-title>
    <md-card-content>
      	<div ng-repeat="request in requests">
      		<div flex-gt-xs>
				<span>Date: {{request.mistakeDate | date}}</span> <md-button ng-click="removeRequest(request)" class="md-raised md-primary">Remove Request</md-button>
			</div>
      	</div>
    </md-card-content>
    </md-card-content>
</md-card>